<div class="panel-body" ng-controller="HomeController" ng-animate="slide"s>
    <div class="row">
        <div class="container container-fluid">
            <table class="table table-bordered table-responsive" ng-model="currentLog" style="width:30%">
                <thead>
                    <tr>
                        <th colspan="2">
                            <h3>Logger</h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:50%">Current Date:</td>
                        <td style="width:50%">{{model.time | date }}</td>
                    </tr>
                    <tr>
                        <td style="width:50%">Current Time:</td>
                        <td style="width:50%">{{model.time | date : "hh:mm:ss"  }}</td>
                    </tr>
                    <tr>
                        <td style="width:50%">Current IP Address:</td>
                        <td style="width:50%">{{model.clientIp}}</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" type="button" ng-click="userAction()">Get the time</button>
        </div>
    </div>
</div>



